* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 1.2rem;
    box-shadow: 5px 5px 10px #777;
    background-color: #fafafa;
    padding: 5px;
}

#number {
    margin-bottom: 10px;
    padding: 5px;
}

#send {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 1rem;
    border: none;
    box-shadow: 2px 2px 2px #777;
    background-color: #ddd;
}

#text-result {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 200px;
    font-size: .8rem;
}

#result {
    height: 25px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: .8rem;
    margin: 5px;
}

#result::first-letter {
    text-transform: uppercase;
    
}

#resultNegative {
    height: 25px;
    width: 100%;
    text-align: center;
}